body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.cyan-color{
    color:cyan;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:70%;
    padding-left: 10%;
}
.half-width img{
    padding-top: 45%;
    width:45%
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(blue,cyan);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
    
}
